
.product-btn{
  @extend .button-circle-25;
  
}
.product-add{
   @include backgroundImage('../image/icon/plus.png');
}
.product-sub{
  @include backgroundImage('../image/icon/sub.png');
}
.product-group{
  position: absolute;
  right:0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  bottom: pxToRem(30);
  margin:pxToRem(20);
  width:pxToRem(288);
}
